.loading {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  /*dim the background*/
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:black;
  text-align: center;
  z-index: 9999;
}

.spinners div {
  margin-left: 0.5em;
}


.alb {
  float: left;
  position: relative;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
}

.alb a.hov {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 2em;
  background-color: black;
  color: white;
  text-decoration: none;
  
  opacity: 0;
  position:absolute;
  top:0; 
  left:0; 
}

.alb img,
.alb a.hov {
  transition: opacity 0.4s ease-in-out;
}

.alb:hover img {opacity:0.6;}
.alb:hover a.hov {opacity:0.6;}